@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
    background: #EFF1F7;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.is-center {
    text-align: center;
}

.small {
    font-size: 9px !important;
}

/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.home-menu {
    background: #2d3e50;
}

.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}

.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    z-index: 2;
    position: absolute;
    top: 10%;
    width: 100%;
    min-height: 12%;
}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}

.content-subhead i {
    margin-right: 7px;
}

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

.balance {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: Jura;
    color: #FB8500;
    text-align: center;
    width: 100%;
}

.balance.usd {
    color: white;
    font-family: Roboto;
    margin-top: 0px;
}

.since {
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    color: #fff;
}

.since small {
    font-size: xx-small;
}

/* This is the class used for the footer */
.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.worker_container {
    /* border-bottom: 1px solid #023047; */
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10); */
    display: flex;
    width: 100%;
    padding: 6px;
    padding-bottom: 1em;
    flex-direction: column;
    position: relative;
    margin-bottom: 1em;
}

.worker_container .title {
    color: #023047;
    margin: 6px 0px;
    font-size: 18px;
    line-height: 1em;
    display: inline-block;
    font-weight: bold;
}

.worker_container .runtime {
    position: absolute;
    float: right;
    margin: 0;
    display: inline;
    top: 10px;
    right: 20px;
    color: #8ECAE6;
}

.worker_container .subtitle {
    margin: 0;
    font-size: 12px;
    font-weight: lighter;
    line-height: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.worker_container .hashrate {
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    color: #FB8500;
    font-family: "Jura", sans-serif;
}

.worker_container .devices_count,
.worker_container .power {
    margin: 0;
}

.worker_container .device_hashrate {
    margin: 0;
    text-align: center;
    font-size: 24px;
    align-self: center;
    font-weight: 400;
    color: #219EBC;
    font-family: "Jura", sans-serif;
}

.dot {
    width: 80px;
    height: 80px;
    line-height: 33px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background: #8ECAE6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dot2 {
    width: 80px;
    height: 80px;
    line-height: 33px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #219EBC;
}

.dot2.power {
    font-family: "Jura", sans-serif;
}

.square_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    /* margin-bottom: 30px; */
}

.square_container .square {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.5s;
    padding: 43px 30px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.square_container .square .icon {
    width: 60px;
    height: 60px;
    flex-basis: 60px;
    text-align: center;
    display: flex;
    align-items: center;
}

.square_container .square .icon img {
    width: 100%;
    height: 70%;
}

.square_container .square .content {
    margin-left: 10px;
    flex-basis: 65%;
    text-align: right;
    padding: 0;
}

.square_container.shares .square .content,
.square_container.temps .square .content {
    margin-left: 10px;
    flex-basis: 100%;
    text-align: center;
    padding: 0;
}

.square_container .square h3 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    transition: 0.5s;
    color: #2E4765;
    margin: 0px;
    margin-top: 10px;
    font-family: "Jura", sans-serif;
    line-height: 1;
    white-space: nowrap;
}

.square_container.temps .square h3 {
    font-size: smaller;
}

.square_container .square p {
    transition: 0.5s;
    font-size: 16px;
    font-weight: 500;
    color: #B2B5C0;
    line-height: 1;
    margin: 0;
    margin-top: 6px;
}

.square_container .square .amount {
    font-size: 24px;
    font-weight: bolder;
    line-height: 1.5em;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }

    .home-menu ul {
        float: right;
    }

    /* We increase the height of the splash-container */
    /*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {

    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}

@media (max-width: 575.98px) {
    .square_container .square {
        padding: 10px 5px;
    }

    .square_container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        /* margin-bottom: 30px; */
    }

    .square_container.shares {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        /* margin-bottom: 30px; */
    }

    .square_container.temps {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        /* margin-bottom: 30px; */
    }

    .square_container.temps .square h3 {
        font-size: xx-small;
    }

    .content-wrapper {
        top: 6%;
    }
}