<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dione - Miner stats</title>
    <link rel="stylesheet" href="/public/assets/css/pure-min.css">
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <link rel="stylesheet" href="/public/assets/css/c3.min.css">
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="/">Dione</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="#workers" class="pure-menu-link">Workers</a></li>
                <li class="pure-menu-item"><a href="/settings" class="pure-menu-link">Settings</a></li>
            </ul>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content">
            <h3 style="margin: 0;">Portfolio</h3>
            <div class="pure-g ribbon">
                <p class="balance">{{.ethBalance}} ETH</p>
                <p class="balance usd">${{.ethBalanceUSD | printf "%0.2f"}} USD</p>
                <p class="since">Started {{.sinceH}} <small>({{.since | printf "%0.0f"}} days)</small></p>
            </div>
            <h3 style="margin: 0;margin-top: 10px;">Global Stats</h3>
            <div class="pure-g">
                <div class="pure-u-1-3 worker_container">
                    <div style="flex-direction: row;display: flex;justify-content: space-around;">
                        <p class="devices_count dot2" title="Number of rigs">
                            {{.stat.Rigs}}
                            <span style="font-size: 10px;line-height: 10px;">rigs</span>
                        </p>
                        <p class="devices_count dot2" title="Number of rigs">
                            {{.stat.ActiveWorkers}}/{{.stat.InactiveWorkers}}
                            <span style="font-size: 10px;line-height: 10px;">worker(s)</span>
                        </p>
                        <p class="power dot2" style="font-size: 16px;" title="Power consumed by this worker">
                            {{.stat.Power | printf "%0.2f"}}w
                            <span style="font-size: 10px;line-height: 10px;">power</span>
                        </p>
                    </div>
                    <p class="hashrate">{{.stat.Hashrate | printf "%0.2f"}} MH/s</p>
                    <p style="font-weight: bold;">Shares</p>
                    <div class="square_container shares">
                        <div class="square">
                            <div class="content">
                                <h3>{{index .stat.Shares 0}}</h3>
                                <p>found</p>
                            </div>
                        </div>
                        <div class="square">
                            <div class="content">
                                <h3 style="color: #FCAD73;">{{index .stat.Shares 1}}</h3>
                                <p>rejected</p>
                            </div>
                        </div>
                        <div class="square">
                            <div class="content">
                                <h3 style="color: #EA5D5D;">{{index .stat.Shares 2}}</h3>
                                <p>failed</p>
                            </div>
                        </div>
                        <div class="square">
                            <div class="content">
                                <h3>{{index .stat.Shares 3}}</h3>
                                <p class="small">time(sec) last found</p>
                            </div>
                        </div>
                    </div>
                    <p style="font-weight: bold;">Temperatures</p>
                    {{ range $d_wrkName, $d_val := .stat.Temps }}
                    <p style="font-weight: bold;margin-top: 0;">Worker: {{$d_wrkName}}</p>
                    <div class="square_container temps">
                        {{ range $dv_name, $dv_temp := $d_val }}
                        <div class="square">
                            <div class="content">
                                <h3 style="color: inherit; {{ if gt $dv_temp 65.0 }}color: #EA5D5D;{{end}}">{{$dv_name}}
                                </h3>
                                <p style="color: inherit; {{ if gt $dv_temp 62.0 }}color: #EA5D5D;{{end}}">{{$dv_temp}}°
                                    C</p>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}
                    <p style="font-weight: bold;">Power Costs Estimates</p>
                    <div class="square_container">
                        <div class="square">
                            <div class="icon">
                                <img src="public/assets/img/power.svg" alt="">
                            </div>
                            <div class="content">
                                <h3>${{.stat.PowerCost | printf "%0.2f"}} - ₹{{inr .stat.PowerCost | printf "%0.2f"}}
                                </h3>
                                <p>Day</p>
                            </div>
                        </div>
                        <div class="square">
                            <div class="icon">
                                <img src="public/assets/img/power.svg" alt="">
                            </div>
                            <div class="content">
                                <h3>${{(multiply .stat.PowerCost 7) | printf "%0.2f"}} - ₹{{inr (multiply
                                    .stat.PowerCost 7) | printf "%0.2f"}}</h3>
                                <p>Week</p>
                            </div>
                        </div>
                        <div class="square">
                            <div class="icon">
                                <img src="public/assets/img/power.svg" alt="">
                            </div>
                            <div class="content">
                                <h3 style="color: #2DAAB8;">${{(multiply .stat.PowerCost 30) | printf "%0.2f"}} - ₹{{inr
                                    (multiply
                                    .stat.PowerCost 30) | printf "%0.2f"}}</h3>
                                <p>Month</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr /><br />
            <div id="chart"></div>
            <div id="chart_shares"></div>
            <h3 id="workers" style="margin: 0;">Workers</h3>
            <div class="pure-g">
                {{ range $val := .items }}
                <div class="pure-u-1-3 worker_container">
                    <p class="title">{{$val.Hostname}} - {{$val.Name}}</p>
                    <!-- <p class="runtime">{{(divide $val.Runtime 3600.0) | printf "%.2f"}} hours</p> -->
                    <p class="runtime">{{$val.Runtime | humanizeTime}}</p>
                    <p class="subtitle">{{$val.Address}}&nbsp;&nbsp;&nbsp;&nbsp;{{$val.URI}}</p>
                    <p class="hashrate">{{$val.Hashrate | printf "%0.2f"}} MH/s</p>
                    <div style="display: flex;
                    flex-direction: row;
                    justify-content: space-around;">
                        <p class="devices_count dot2" title="Number of devices">
                            {{len $val.Devices}}
                            <span style="font-size: 10px;line-height: 10px;">devices</span>
                        </p>
                        <p class="power dot2" style="font-size: 16px;" title="Power consumed by this worker">
                            {{$val.Power | printf "%0.2f"}}W
                            <span style="font-size: 10px;line-height: 10px;">power</span>
                        </p>
                    </div>
                    <p style="font-weight: bold;">Shares</p>
                    <div class="square_container shares">
                        <div class="square">
                            <div class="content">
                                <h3>{{index $val.Shares 0}}</h3>
                                <p>found</p>
                            </div>
                        </div>
                        <div class="square">
                            <div class="content">
                                <h3 style="color: #FCAD73;">{{index $val.Shares 1}}</h3>
                                <p>rejected</p>
                            </div>
                        </div>
                        <div class="square">
                            <div class="content">
                                <h3 style="color: #EA5D5D;">{{index $val.Shares 2}}</h3>
                                <p>failed</p>
                            </div>
                        </div>
                        <div class="square">
                            <div class="content">
                                <h3>{{index $val.Shares 3}}</h3>
                                <p class="small">
                                    time(sec) last found
                                </p>
                            </div>
                        </div>
                    </div>
                    <p style="font-weight: bold;">Devices</p>
                    {{ range $d := $val.Devices}}
                    <div style="border-bottom: 1px solid #2d3e50;margin-bottom: 1em;padding-bottom: 1em;">
                        <p style="margin-top: 0;color: #023047;">{{$d.Name}} - {{$d.Mode}}</p>
                        <div style="display: flex;
                    flex-direction: row;
                    justify-content: space-around;">
                            <div>
                                <p style="margin: 0;">Temperature: {{ $d.Temperature | printf "%.0f"}}° C</p>
                                <p style="margin: 0;">Fan: {{$d.Fan}}%</p>
                                <p style="margin: 0;">Power: {{$d.Power | printf "%0.2f"}} Watts</p>
                            </div>
                            <p class="device_hashrate" title="Hash rate for this device">
                                {{$d.Hashrate | printf "%0.2f"}}
                                <span style="font-size: 10px;line-height: 10px;">MH/s</span>
                            </p>
                        </div>
                        <p style="font-weight: bold;">Shares</p>
                        <div class="square_container shares">
                            <div class="square">
                                <div class="content">
                                    <h3>{{index $d.Shares 0}}</h3>
                                    <p>found</p>
                                </div>
                            </div>
                            <div class="square">
                                <div class="content">
                                    <h3 style="color: #FCAD73;">{{index $d.Shares 1}}</h3>
                                    <p>rejected</p>
                                </div>
                            </div>
                            <div class="square">
                                <div class="content">
                                    <h3 style="color: #EA5D5D;">{{index $d.Shares 2}}</h3>
                                    <p>failed</p>
                                </div>
                            </div>
                            <div class="square">
                                <div class="content">
                                    <h3>{{index $d.Shares 3}}</h3>
                                    <p class="small">
                                        time(sec) last found
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    <script src="/public/assets/js/d3.min.js" charset="utf-8"></script>
    <script src="/public/assets/js/c3.min.js" charset="utf-8"></script>
    <script src="/public/assets/js/app.js" charset="utf-8"></script>
</body> 

</html>